{
  "openapi": "3.0.1",
  "info": {
    "title": "API",
    "description": "API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sambanova.ai",
      "description": "Local server"
    }
  ],
  "paths": {
    "/v1/chat/completions": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer $API_KEY"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "application/json"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "stream": {
                    "type": "boolean"
                  },
                  "model": {
                    "type": "string",
                    "example": "Meta-Llama-3.1-8B-Instruct",
                    "default": "Meta-Llama-3.1-8B-Instruct"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "role": {
                              "type": "string"
                            },
                            "content": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}